<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <File name="FileLogger" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root Logger (Logs Everything) -->
        <Root level="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="FileLogger"/>-->
        </Root>

        <!-- Custom Logger for Your Application -->
        <Logger name="me.skorb" level="debug" additivity="false">
<!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="FileLogger"/>
        </Logger>
    </Loggers>
</Configuration>
